<h2>score: <%= @game.current_score %></h2>
<% unless @game.next_opponent_move.nil? %>
  <h2>your opponent's move: <%= @game.next_opponent_move %></h2>
<% end %>

<% if @game.last_move.nil? %>
  <h3>Welcome to the chess move prediction game! Guess the next move:</h3>
<% else %>
  <% if @game.last_move_correct? %>
    <h3 style='color: green'>Last move: <%= @game.last_move %> (correctly guessed!)</h3>
  <% else %>
    <h3 style='color: green'>actual move: <%= @game.last_actual_move %></h3>
    <h3 style='color: red'>you guessed: <%= @game.last_move %></h3>
  <% end %>
<% end %>

<% if @game.game_is_over? %>
  <h1>Game over!</h1>
<% else %>
  <%= form_tag(guess_next_move_path(@game_model_instance.id), method: "post") do %>
    guess next move: <%= text_field_tag :move %><br />
    <%= submit_tag("Submit move guess!") %>
  <% end %>
<% end %>

<% unless @game.previous_moves.blank? %>
  <h2>Previous moves</h2>
  <% @game.previous_moves.each_with_index do |move, index| %>
    <%= "#{index + 1}. #{move[0]} #{move[1]}" %>&nbsp;
  <% end %>
<% end %>
